:root {
	--green1: rgba(107, 219, 158, 1);
	--green2: #229d8f;
	--container-background: white;
	--background: white;
	--text-color: black;
	--purple1: #b8b5ff;
	--background: #edf2fb
}

.job {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #e1e4e8;
	width: 650px;
	padding: 10px 10px 0px 10px;
	background-color: var(--container-background);
}

body {
	color: var(--text-color);
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	display: flex;
}

.container {
	padding: 20px;
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15) !important;
	background-color: var(--container-background);
}

.no-margin {
	margin: 0px;
}

h1 {
	color: white;
}

h2 {
	margin: 0px;
	font-size: 30px;
}

h3 {
	margin: 0px;
}

h4 {
	margin: 0px;
}

h5 {
	margin: 0px;
	color: var(--green2);
	font-size: 14px;
}

.button-container {
	padding-top: 5px;
	display: flex;
}

.project-buttons {
	margin-right: 5px;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	vertical-align: middle;
	border-radius: 6px;
	text-decoration: none;
	color: black !important;
	border: solid 1px var(--purple1);
	background-color: var(--purple1);
}

.project-buttons:hover {
	transition-duration: 0.1s;
	background-color: var(--container-background);
	color: black;
}

.sidebar {
	width: 250px;
	background-color: rgba(14, 17, 22, 1);
	color: white;

}

.profile-picture {
	width: 190px;
	border-radius: 10px;
}

.links {
	padding: 10px;
}

.link-container {
	display: block;
	vertical-align: middle;
	margin-top: 10px;
}

img {
	vertical-align: middle
}


.sidebar a {
	margin-left: 10px;
	color: var(--green1);
	vertical-align: middle;
}

.job a {

	color: black;
	text-decoration-color: var(--green1);
	text-decoration-thickness: 2px;
}

.job a:hover {

	color: var(--green1);
	transition: 0.1s;
}
