:root {
	--link-color: rgba(107, 219, 158, 1);
	--sub-heading: #229d8f;
	--sub-heading: #2ca58d;
	--container-background: white;
	--text-color: black;
	--button-color: #b8b5ff;
	--sub-heading: #7868e6;
	--background: #edf2fb;

	/* */
	--sub-heading: #5ba8ec;



}

.job {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 2px solid #e1e4e8;
	width: 650px;
	padding: 10px 10px 0px 10px;
	background-color: var(--container-background);
}

body {
	color: var(--text-color);
	background-color: var(--background);
	font-family: 'Roboto', sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container {
	display: flex;
	border: 1px solid #ced4da;
}

.container {
	padding: 20px;
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15) !important;
	background-color: var(--container-background);
}

.no-margin {
	margin: 0px;
}

h1 {
	color: white;
}

h2 {
	margin: 0px;
	font-size: 30px;
}

h3 {
	margin: 0px;
}

h4 {
	margin: 0px;
}

h5 {
	margin: 0px;
	font-size: 14px;
}

.button-container {
	padding-top: 5px;
	display: flex;
}

.button-container a {
	margin-right: 5px;
	color: black;
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15) !important;
}

.project-buttons {
	margin-right: 5px;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	vertical-align: middle;
	border-radius:4px;
	text-decoration: none;
	color: black !important;
	border: solid 1px black;
	background-color: var(--button-color);
}

.project-buttons:hover {
	transition-duration: 0.1s;
	background-color: var(--container-background);
	color: black;
}

.sidebar {
	width: 250px;
	background-color: rgba(14, 17, 22, 1);
	color: white;

}

.profile-picture {
	width: 190px;
	border-radius: 0px;
}

.links {
	padding: 10px;
}

.link-container {
	display: block;
	vertical-align: middle;
	margin-top: 10px;
}

img {
	vertical-align: middle
}


.sidebar a {
	margin-left: 10px;
	color: white;

	/* color: white; */
	vertical-align: middle;

}



.job a {
	padding: 2px 4px 2px 4px;
	border: 1px solid #1e96fc;
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline;

	border-radius: 3px;
	background-color: #ffd500;
	background-color: #ffdd00;
	background-color: #ffe14c;

	background-color: #a2d6f9;
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15) !important;

	text-decoration: none;
}

.job a:hover {

	background-color: white;
	box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15) !important;
	/* color: var(--link-color); */
	transition: 0.2s;
}
